{cover_enabled, true}.
{erl_opts, [debug_info, fail_on_warning]}.
{deps, [
	{webmachine, 		"1.9.*", {git, "git://github.com/basho/webmachine",		{tag, "1.9.0"}}},
	{wm_url_gen, 		"0.1.*", {git, "git://github.com/odo/wm_url_gen",		{tag, "wm_url_gen-0.1.0"}}},
	{proper, 			"1.0.*", {git, "git@github.com:manopapad/proper",		{tag, "v1.0"}}}
]}.
{sub_dirs, ["src/controllers", "rel"]}.
